body {
    background-image: url(https://media.discordapp.net/attachments/1150467961992269964/1259477540616015892/16_20240707145356.png?ex=668bd35d&is=668a81dd&hm=c3356dfbcb701ef2a3304196f2c589a6cc14847330569718d612902225d92d29&=&format=webp&quality=lossless&width=1012&height=456);
    background-size: 1500px; 
}
.server2 {
    background-color: rgb(75, 75, 75);
    border: rgb(75, 75, 75);
}
